.page-header{
    background-color: #8540f5!important;
}
.page-container{
    /* background-color: azure; */
    min-height: 94vh;
}
.page-formContainer{
    padding-top: 16px;
}
.page-searchContainer{
    padding-top: 16px;    
}
.response-card{
    height: 60vh;
}
.response-data{
    height: 100%;
    overflow-y:auto
}